.head_sec {
  padding-top: 30px; }
  .head_sec .cs_logo .img {
    max-width: 294px;
    margin-left: auto;
    margin-right: auto;
    display: block; }

.topnav {
  background-color: #ffffff;
  overflow: hidden;
  text-align: center;
  padding-left: 120px;
  padding-top: 15px; }
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.3; }
  .topnav a:hover {
    opacity: 1; }
  .topnav .active {
    background-color: #4CAF50;
    color: white; }

.mynav {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  .mynav ul {
    list-style: none;
    display: block; }
  .mynav .toggle-nav {
    display: none; }

.heading_head h1 {
  text-align: center;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: 'didot'; }

.footh2 h2 {
  color: #a8a8a8;
  font-size: 20px; }
.footh2 a.read {
  border: 1px solid #8b8b8b;
  display: inline-block;
  color: #a8a8a8;
  padding: 8px 10px 8px 10px; }

.info a {
  text-decoration: none;
  display: block;
  padding: 3px 0;
  font-family: "gothamL";
  color: #a8a8a8; }

.sited {
  padding: 20px 0;
  color: #999; }
  .sited a {
    color: #999;
    text-decoration: none; }

.div_center {
  display: table;
  margin: 0 auto;
  color: #a8a8a8; }

.proj_det h2 {
  font-family: "didot";
  font-size: 22px;
  letter-spacing: 0.15em;
  margin-bottom: 15px;
  margin-top: 0;
  text-transform: uppercase; }
.proj_det .country {
  letter-spacing: 0.08em; }
.proj_det p {
  padding-bottom: 10px;
  color: #a8a8a8; }
.proj_det a.read {
  border: 1px solid #8b8b8b;
  display: inline-block;
  color: #a8a8a8;
  padding: 8px 10px 8px 10px; }

.space {
  padding-bottom: 20px; }

.cent {
  text-align: center; }
  .cent p {
    opacity: 0.7; }
  .cent a.phonee {
    color: #100f0f;
    display: inline-block;
    font-size: 15px; }

.page_title_box .page_title {
  padding: 12px 0 12px;
  font-family: 'didot';
  color: #3a3a3a;
  background: #f3f3f3; }
  .page_title_box .page_title h1 {
    text-align: center;
    font-size: 18px; }
  .page_title_box .page_title a {
    text-decoration: none;
    text-transform: uppercase;
    color: #aeaeae; }

.contact .contact_page {
  padding: 60px 105px;
  background: #fff; }
  .contact .contact_page .contact_text {
    text-align: center;
    color: #737373;
    font-size: 13px; }
.contact .form-horizontal label {
  text-align: left;
  color: #5c5c5c;
  font-size: 13px;
  padding-bottom: 7px; }
.contact .form-horizontal .form-control {
  height: 36px;
  border: 1px solid #e4e5e8;
  border-radius: 0;
  box-shadow: none; }
.contact .form-horizontal textarea.form-control {
  height: 155px; }
.contact .form-horizontal button[type="button"] {
  background: #737373;
  color: #fff;
  font-size: 13px;
  border-radius: 0;
  min-width: 135px; }
.contact .contact_info img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 39px; }
.contact .title {
  color: #474747;
  font-size: 16px;
  font-family: 'gothamM';
  text-align: center;
  padding-top: 10px; }
.contact .centree {
  text-align: center;
  line-height: 20px;
  padding-top: 10px;
  color: #737373;
  font-size: 13px; }
.contact .add {
  padding-top: 40px; }
  .contact .add .add1 {
    padding-bottom: 25px; }
.contact span a {
  display: block;
  font-size: 13px;
  color: #737373;
  text-align: center; }
.contact span {
  display: block;
  font-size: 13px;
  color: #737373;
  text-align: center; }
.contact .mapp {
  padding-top: 30px; }

.newproduct .head {
  background: #f8f8f8; }
.newproduct h3 {
  text-align: center;
  font-size: 15px;
  color: #767676; }
.newproduct .uppercase {
  text-transform: uppercase; }
  .newproduct .uppercase ul {
    list-style: none;
    display: block; }
    .newproduct .uppercase ul li a {
      background-color: transparent;
      text-decoration: none;
      color: #999;
      padding-top: 20px;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-left: 0px;
      font-size: 14px;
      border-bottom: 1px solid #f1f1f1;
      display: block; }

/*# sourceMappingURL=style.css.map */
